---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<html>
    <head>
        <title>{post.data.title}</title>
        <meta name="description" content={post.data.description} />
    </head>
    <body>
        <article>
            <h1>{post.data.title}</h1>
            <time>{post.data.pubDate.toLocaleDateString()}</time>

            {
                post.data.tags && (
                    <div>
                        {post.data.tags.map((tag) => (
                            <span class="tag">{tag}</span>
                        ))}
                    </div>
                )
            }
            <Content />
        </article>
    </body>
</html>
